html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.row:after {
    clear: both;
}


.container {
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	background-color: black;
}

.col-1 {
  width: 8.33333%;
  float: left;
}

.col-2 {
  width: 16.66666%;
  float: left;
}

.col-3 {
  width: 25%;
  float: left;
}

.col-4 {
  width: 33.33333%;
  float: left;
}

.col-5 {
  width: 41.66666%;
  float: left;
}

.col-6 {
  width: 50%;
  float: left;
}

.col-7 {
  width: 58.33333%;
  float: left;
}

.col-8 {
  width: 66.66666%;
  float: left;
}

.col-9 {
  width: 75%;
  float: left;
}

.col-10 {
  width: 83.33333%;
  float: left;
}

.col-11 {
  width: 91.66666%;
  float: left;
}

.col-12 {
  width: 100%;
  float: left;
}

.navbarleft {
  background-color: black;
  color: white;
  font-size: 40px;
}

.navbarright {
  background-color: black;
  color: white;
  font-size:40px;
}

.navbarleft li {
  display: inline-block;

}

.navbarleft {
	float: left;
  /*text-align: left;*/
}

.navbarright {
	float: right;
  /*text-align: right;*/
}
.navbarright li {
  display: inline-block;
  text-align: right;
}
.containerpink {
	background-color: pink;
	padding: 200px 0;
	text-align: center;
}
.containerpink p {
	font-size: 100px;
}
